In [1]:
import numpy as np
import pandas as pd
import datetime as dt

from sodapy import Socrata

In [2]:
client = Socrata("data.lacity.org", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
def get_results(date, client):
    results = client.get('wjz9-h9np',
                        where=f'issue_date>="{date}" and \
                            latitude!=99999 and \
                            longitude!=99999 and \
                            location!="TEST"',
                        limit=50000)
    results_df = pd.DataFrame.from_records(results)
    return results_df

In [4]:
raw_df = get_results('2020-07-01', client)

In [5]:
def parse_time(time):
    if len(time) == 3:
        return '0' + time[0] + ':' + time[-2:]
    else:
        return time[0:-2] + ':' + time[-2:]

In [6]:
df = raw_df[pd.notna(raw_df.violation_description)].reset_index(drop=True)

# date and time stored as string, could change for 
df['issue_date'] = [datetime[0:10] for datetime in df.issue_date]
df['issue_time'] = [parse_time(time) for time in df.issue_time]

In [7]:
df

,ticket_number,issue_date,issue_time,meter_id,rp_state_plate,make,body_style,color,location,route,...,violation_code,fine_amount,latitude,longitude,agency_desc,color_desc,body_style_desc,plate_expiry_date,violation_description,marked_time
0,4515714932,2020-07-01,16:06,VW478,CA,ACUR,PA,BK,600 WILSHIRE PL,00400,...,88.13B+,63,6474486.820731,1845002.309715,54 - DOT - HOLLYWOOD,BLACK,PASSENGER CAR,202103,METER EXP.,NaN
1,4515722595,2020-07-01,23:20,NaN,CA,BMW,PA,BL,1426 HARRIDGE DR,203A,...,22502A,63,6434742.245963,1857684.566024,51 - DOT - WESTERN,BLUE,PASSENGER CAR,202010,18 IN. CURB/2 WAY,NaN
2,4515573952,2020-07-01,23:15,NaN,CA,HYUN,PA,GY,5250 CENTURY BLVD,00204,...,22500.1+,63,6449133.736966,1802726.363865,51 - DOT - WESTERN,GREY,PASSENGER CAR,202104,PARKED IN FIRE LANE,NaN
3,4515896615,2020-07-01,23:14,NaN,PA,SUBA,PA,GY,800 ARDMORE AVE S,402A,...,80.56E4+,93,6470199.040621,1843515.535669,54 - DOT - HOLLYWOOD,GREY,PASSENGER CAR,201707,RED ZONE,NaN
4,4515552086,2020-07-01,23:03,NaN,CA,FORD,PA,BK,1500 261ST ST,00500,...,80.56E4+,93,6469884.534481,1744647.83555,55 - DOT - SOUTHERN,BLACK,PASSENGER CAR,202009,RED ZONE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18922,4515841131,2020-07-09,08:37,WA620,CA,FORD,PA,SL,600 CARONDELET ST S,00491,...,88.13B+,63,6476997.781031,1844927.89771,54 - DOT - HOLLYWOOD,SILVER,PASSENGER CAR,202105,METER EXP.,NaN
18923,4515881624,2020-07-09,08:21,EN93,CA,TOYT,PA,BK,16001 VENTURA BL,00358,...,88.13B+,63,6416015.672788,1879528.178418,53 - DOT - VALLEY,BLACK,PASSENGER CAR,202011,METER EXP.,NaN
18924,4515881635,2020-07-09,08:28,NaN,CA,TOYT,PA,WT,16311 VENTURA BL,00358,...,80.56E4+,93,6413969.459828,1879875.152176,53 - DOT - VALLEY,WHITE,PASSENGER CAR,202103,RED ZONE,NaN
18925,4515880924,2020-07-09,08:56,NaN,CA,MAZD,PA,BK,7201 MULHOLLAND DR,00441,...,22502A,63,6456505.133676,1866231.869627,54 - DOT - HOLLYWOOD,BLACK,PASSENGER CAR,202008,18 IN. CURB/2 WAY,NaN
18926,4515124180,2020-07-09,08:34,NaN,CA,TOYT,PA,WT,6800 LAUREL CANYON BL,00358,...,80.56E4+,93,6434419.399858,1913020.507571,53 - DOT - VALLEY,WHITE,PASSENGER CAR,202007,RED ZONE,NaN

In [8]:
df.to_csv('sample_data.csv')