In [23]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
from datetime import time

sns.set()
%matplotlib inline

import geopandas
from geopandas import GeoDataFrame
from shapely.geometry import Point

import warnings
warnings.filterwarnings("ignore")

In [22]:
df = pd.read_csv("..\data\Parking_Citations_After_July_1_2015.csv", low_memory=False)
df.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,4361370075,2019/09/17 12:00:00 AM,817.0,NaN,NaN,LA,NaN,MERC,PA,RD,1324 84TH PL W,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.471017e+06,1.808559e+06
1,4361370064,2019/09/17 12:00:00 AM,811.0,VM48,NaN,CA,NaN,BUIC,PA,GN,1000 85TH ST W,00551,55.0,88.13B+,METER EXP.,63,6.473192e+06,1.808298e+06
2,4361370053,2019/09/17 12:00:00 AM,809.0,NaN,NaN,CA,NaN,TOYT,PA,GY,1000 85TH ST W,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.473192e+06,1.808298e+06
3,4361370042,2019/09/17 12:00:00 AM,805.0,NaN,NaN,CA,NaN,NISS,PA,BK,8021 VERMONT AVE,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.473164e+06,1.810388e+06
4,4361370031,2019/09/17 12:00:00 AM,727.0,NaN,NaN,CA,NaN,HOND,PA,GY,1473 45TH ST W,00551,55.0,22500E,BLOCKING DRIVEWAY,68,6.469917e+06,1.823537e+06

In [24]:
geometry = [Point(xy) for xy in zip(df["Latitude"],df["Longitude"])] 
geometry[:3]

[<shapely.geometry.point.Point at 0x227d3ce0f98>,
 <shapely.geometry.point.Point at 0x226d130b4e0>,
 <shapely.geometry.point.Point at 0x227d3ce0f28>]

In [25]:
#crs = {'init': 'epsg:4269'} #epsg:4362(WGS84) # crs= coordinate reference system 
df = geopandas.GeoDataFrame(df, geometry= geometry)
df.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude,geometry
0,4361370075,2019/09/17 12:00:00 AM,817.0,NaN,NaN,LA,NaN,MERC,PA,RD,1324 84TH PL W,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.471017e+06,1.808559e+06,POINT (6471016.784 1808559.113)
1,4361370064,2019/09/17 12:00:00 AM,811.0,VM48,NaN,CA,NaN,BUIC,PA,GN,1000 85TH ST W,00551,55.0,88.13B+,METER EXP.,63,6.473192e+06,1.808298e+06,POINT (6473191.784 1808297.974)
2,4361370053,2019/09/17 12:00:00 AM,809.0,NaN,NaN,CA,NaN,TOYT,PA,GY,1000 85TH ST W,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.473192e+06,1.808298e+06,POINT (6473191.784 1808297.974)
3,4361370042,2019/09/17 12:00:00 AM,805.0,NaN,NaN,CA,NaN,NISS,PA,BK,8021 VERMONT AVE,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.473164e+06,1.810388e+06,POINT (6473163.889 1810388.064)
4,4361370031,2019/09/17 12:00:00 AM,727.0,NaN,NaN,CA,NaN,HOND,PA,GY,1473 45TH ST W,00551,55.0,22500E,BLOCKING DRIVEWAY,68,6.469917e+06,1.823537e+06,POINT (6469917.106 1823537.453)

In [26]:
df=df[df['Latitude']!=99999]
df=df[df['Longitude']!=99999]
print(df['Latitude'].min(), df['Latitude'].max())
print(df['Longitude'].min(), df['Longitude'].max())

6359739.30402891 6514332.07372465
1715555.176091 1942668.996228

In [ ]:
#'lat_1': 34.03333333333333

In [27]:
zipcode = geopandas.read_file('..\data\CAMS_ZIPCODE_STREET_SPECIFIC\CAMS_ZIPCODE_STREET_SPECIFIC.shp')

In [28]:
zipcode.head()

,OBJECTID_1,OBJECTID,FID_1,Name,SDE_STATE_,ORIG_FID,Distance,Zip_Num,Shape_area,Shape_len,geometry
0,1,105,0,90001,0.0,8499,0.0,90001,9.562251e+07,55969.055693,"POLYGON ((6483980.350 1818555.588, 6483980.320..."
1,2,194,1,90004,0.0,8502,0.0,90004,8.419310e+07,61463.722654,"POLYGON ((6473729.180 1852848.640, 6473879.190..."
2,3,157,2,90006,0.0,8504,0.0,90006,5.370240e+07,45757.198149,"POLYGON ((6475532.040 1842897.640, 6475531.894..."
3,4,136,3,90007,0.0,8505,0.0,90007,7.434590e+07,72292.215301,"POLYGON ((6473057.979 1837118.392, 6473095.000..."
4,5,122,4,90008,0.0,8506,0.0,90008,1.084177e+08,65040.212765,"POLYGON ((6450341.790 1829160.790, 6450342.030..."

In [29]:
zip_df = geopandas.sjoin(df, zipcode, how="inner", op='intersects')

In [30]:
zip_df.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,VIN,Make,Body Style,Color,...,OBJECTID_1,OBJECTID,FID_1,Name,SDE_STATE_,ORIG_FID,Distance,Zip_Num,Shape_area,Shape_len
0,4361370075,2019/09/17 12:00:00 AM,817.0,NaN,NaN,LA,NaN,MERC,PA,RD,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
1,4361370064,2019/09/17 12:00:00 AM,811.0,VM48,NaN,CA,NaN,BUIC,PA,GN,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
2,4361370053,2019/09/17 12:00:00 AM,809.0,NaN,NaN,CA,NaN,TOYT,PA,GY,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
3,4361370042,2019/09/17 12:00:00 AM,805.0,NaN,NaN,CA,NaN,NISS,PA,BK,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
104,4361286904,2019/09/17 12:00:00 AM,918.0,NaN,NaN,CA,NaN,MERZ,PA,BN,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
105,4361286893,2019/09/17 12:00:00 AM,914.0,NaN,NaN,CA,NaN,LEXS,PA,GY,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
106,4361286882,2019/09/17 12:00:00 AM,912.0,NaN,NaN,CA,NaN,HYUN,PA,GY,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
107,4361286871,2019/09/17 12:00:00 AM,909.0,NaN,NaN,CA,NaN,DODG,TK,WT,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
108,4361286860,2019/09/17 12:00:00 AM,905.0,NaN,NaN,CA,NaN,DODG,TK,WT,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
111,4361286834,2019/09/17 12:00:00 AM,859.0,NaN,NaN,CA,NaN,MERZ,PA,GY,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
112,4361286823,2019/09/17 12:00:00 AM,853.0,NaN,NaN,CA,NaN,TOYT,PA,WT,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
113,4361286812,2019/09/17 12:00:00 AM,852.0,NaN,NaN,CA,NaN,NISS,PA,BK,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
114,4361286801,2019/09/17 12:00:00 AM,841.0,NaN,NaN,CA,NaN,KIA,PA,BK,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
115,4361286790,2019/09/17 12:00:00 AM,839.0,NaN,NaN,CA,NaN,FORD,PA,RD,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
116,4361286786,2019/09/17 12:00:00 AM,837.0,NaN,NaN,CA,NaN,KIA,PA,BK,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
117,4361286775,2019/09/17 12:00:00 AM,831.0,NaN,NaN,CA,NaN,KIA,VN,BK,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
118,4361286764,2019/09/17 12:00:00 AM,828.0,NaN,NaN,CA,NaN,DODG,TK,BK,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
119,4361286753,2019/09/17 12:00:00 AM,826.0,NaN,NaN,CA,NaN,DODG,PA,RD,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
120,4361286742,2019/09/17 12:00:00 AM,822.0,NaN,NaN,CA,NaN,CHRY,PA,GY,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
121,4361286731,2019/09/17 12:00:00 AM,819.0,NaN,NaN,CA,NaN,INFI,PA,RD,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
122,4361286720,2019/09/17 12:00:00 AM,816.0,NaN,NaN,CA,NaN,HOND,PA,BL,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
123,4361286716,2019/09/17 12:00:00 AM,815.0,NaN,NaN,CA,NaN,HOND,PA,GY,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
124,4361286705,2019/09/17 12:00:00 AM,814.0,NaN,NaN,CA,NaN,HOND,PA,GY,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
125,4361286694,2019/09/17 12:00:00 AM,810.0,NaN,NaN,ID,NaN,HOND,VN,GY,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
126,4361286683,2019/09/17 12:00:00 AM,806.0,NaN,NaN,TX,NaN,CHEV,PA,BK,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
241,4361114796,2019/09/17 12:00:00 AM,1320.0,NaN,NaN,CA,NaN,TOYT,PA,WT,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
242,4361114785,2019/09/17 12:00:00 AM,1317.0,NaN,NaN,CA,NaN,HOND,PA,BK,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
243,4361114774,2019/09/17 12:00:00 AM,1312.0,NaN,NaN,CA,NaN,TOYT,PA,BK,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
314,4361068364,2019/09/17 12:00:00 AM,1218.0,NaN,NaN,CA,NaN,TOYT,PA,TN,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
315,4361068353,2019/09/17 12:00:00 AM,1218.0,NaN,NaN,CA,NaN,TOYT,PA,TN,...,1164,106,250,90044,655821.0,8540,0.0,90044,1.398958e+08,101772.115169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5428206,1116073545,2017/01/01 12:00:00 AM,1320.0,NaN,NaN,CA,NaN,TOYO,PA,GY,...,172,242,174,91608,0.0,8758,0.0,91608,1.489122e+07,16564.203511
5428207,1116073534,2017/01/01 12:00:00 AM,1315.0,NaN,NaN,CA,NaN,TOYO,NaN,BL,...,172,242,174,91608,0.0,8758,0.0,91608,1.489122e+07,16564.203511
5428208,1116073523,2017/01/01 12:00:00 AM,1315.0,NaN,NaN,CA,NaN,TOYO,PA,BL,...,172,242,174,91608,0.0,8758,0.0,91608,1.489122e+07,16564.203511
5428209,1116073512,2017/01/01 12:00:00 AM,1310.0,NaN,NaN,CA,NaN,NISS,SU,SI,...,172,242,174,91608,0.0,8758,0.0,91608,1.489122e+07,16564.203511
5428210,1116073501,2017/01/01 12:00:00 AM,1310.0,NaN,NaN,CA,NaN,NISS,SU,SI,...,172,242,174,91608,0.0,8758,0.0,91608,1.489122e+07,16564.203511
4748224,1110352235,2017/04/19 12:00:00 AM,955.0,NaN,NaN,CA,NaN,JEEP,SU,BK,...,44,183,43,90073,0.0,8560,0.0,90073,1.771023e+07,27872.596884
4851098,4306480264,2017/04/03 12:00:00 AM,1657.0,NaN,NaN,CA,NaN,MAZD,PA,SL,...,122,248,124,91204,0.0,8694,0.0,91204,3.104545e+07,42440.466730
5014831,4304453252,2017/03/09 12:00:00 AM,1212.0,NaN,NaN,CA,NaN,DODG,PA,BK,...,290,95,301,90301,655821.0,8601,0.0,90301,9.564708e+07,58425.000520
7847097,4271312323,2015/11/22 12:00:00 AM,1922.0,NaN,NaN,CA,NaN,TOYT,PA,RD,...,290,95,301,90301,655821.0,8601,0.0,90301,9.564708e+07,58425.000520
8398398,4264044304,2015/08/21 12:00:00 AM,1637.0,NaN,NaN,CA,NaN,NISS,PU,BL,...,290,95,301,90301,655821.0,8601,0.0,90301,9.564708e+07,58425.000520
8398399,4264044293,2015/08/21 12:00:00 AM,1633.0,NaN,NaN,CA,NaN,DODG,VN,GY,...,290,95,301,90301,655821.0,8601,0.0,90301,9.564708e+07,58425.000520
8466482,4263923182,2015/08/11 12:00:00 AM,1344.0,NaN,NaN,CA,NaN,VOLK,PA,SL,...,290,95,301,90301,655821.0,8601,0.0,90301,9.564708e+07,58425.000520
8466483,4263923171,2015/08/11 12:00:00 AM,1341.0,NaN,NaN,CA,NaN,FORD,VN,SL,...,290,95,301,90301,655821.0,8601,0.0,90301,9.564708e+07,58425.000520
8484104,4264386501,2015/08/07 12:00:00 AM,1719.0,NaN,NaN,CO,NaN,CHEV,PA,SL,...,290,95,301,90301,655821.0,8601,0.0,90301,9.564708e+07,58425.000520
8525589,4264402763,2015/07/31 12:00:00 AM,1705.0,NaN,NaN,CA,NaN,DODG,VN,BL,...,290,95,301,90301,655821.0,8601,0.0,90301,9.564708e+07,58425.000520
8525590,4264402752,2015/07/31 12:00:00 AM,1703.0,NaN,NaN,CA,NaN,FORD,VN,BL,...,290,95,301,90301,655821.0,8601,0.0,90301,9.564708e+07,58425.000520
8570494,4263592771,2015/07/24 12:00:00 AM,1710.0,NaN,NaN,CA,NaN,FORD,VN,WT,...,290,95,301,90301,655821.0,8601,0.0,90301,9.564708e+07,58425.000520
8570495,4263592760,2015/07/24 12:00:00 AM,1708.0,NaN,NaN,CA,NaN,CHEV,VN,WT,...,290,95,301,90301,655821.0,8601,0.0,90301,9.564708e+07,58425.000520
8581985,4262761506,2015/07/23 12:00:00 AM,1420.0,NaN,NaN,CA,NaN,DODG,VN,WT,...,290,95,301,90301,655821.0,8601,0.0,90301,9.564708e+07,58425.000520
8658348,4262599353,2015/07/10 12:00:00 AM,1715.0,NaN,NaN,CA,NaN,DODG,VN,GY,...,290,95,301,90301,655821.0,8601,0.0,90301,9.564708e+07,58425.000520
8658349,4262599342,2015/07/10 12:00:00 AM,1713.0,NaN,NaN,CA,NaN,CHEV,VN,WT,...,290,95,301,90301,655821.0,8601,0.0,90301,9.564708e+07,58425.000520
8658350,4262599331,2015/07/10 12:00:00 AM,1711.0,NaN,NaN,CA,NaN,FORD,VN,WT,...,290,95,301,90301,655821.0,8601,0.0,90301,9.564708e+07,58425.000520
8658351,4262599320,2015/07/10 12:00:00 AM,1710.0,NaN,NaN,CA,NaN,FORD,VN,WT,...,290,95,301,90301,655821.0,8601,0.0,90301,9.564708e+07,58425.000520
8658352,4262599316,2015/07/10 12:00:00 AM,1704.0,NaN,NaN,CA,NaN,DODG,PA,GY,...,290,95,301,90301,655821.0,8601,0.0,90301,9.564708e+07,58425.000520
8658353,4262599305,2015/07/10 12:00:00 AM,1702.0,NaN,NaN,CA,NaN,CHEV,VN,WT,...,290,95,301,90301,655821.0,8601,0.0,90301,9.564708e+07,58425.000520
8676105,4262237571,2015/07/08 12:00:00 AM,1629.0,NaN,NaN,CA,NaN,CHEV,VN,WT,...,290,95,301,90301,655821.0,8601,0.0,90301,9.564708e+07,58425.000520
8676106,4262237560,2015/07/08 12:00:00 AM,1626.0,NaN,NaN,CA,NaN,FORD,PA,GY,...,290,95,301,90301,655821.0,8601,0.0,90301,9.564708e+07,58425.000520
5900474,4294975731,2016/10/14 12:00:00 AM,1331.0,NaN,NaN,CA,NaN,TOYT,PA,BL,...,344,164,355,90010,0.0,8507,0.0,90010,9.460993e+04,1355.025925
5970191,4294294340,2016/10/03 12:00:00 AM,1300.0,NaN,NaN,CA,NaN,FIAT,PA,RD,...,344,164,355,90010,0.0,8507,0.0,90010,9.460993e+04,1355.025925
8061783,4268654972,2015/10/16 12:00:00 AM,1631.0,NaN,NaN,CA,NaN,OTHR,CM,BN,...,344,164,355,90010,0.0,8507,0.0,90010,9.460993e+04,1355.025925

In [36]:
zip_df[['Location', 'Zip_Num']]

                        Location  Zip_Num
0                 1324 84TH PL W    90044
1                 1000 85TH ST W    90044
2                 1000 85TH ST W    90044
3               8021 VERMONT AVE    90044
104                725 85TH ST W    90044
105                615 85TH ST W    90044
106                603 85TH ST W    90044
107                800 84TH ST W    90044
108                800 84TH ST W    90044
111                922 84TH ST W    90044
112                934 84TH ST W    90044
113                934 84TH ST W    90044
114                822 82ND ST W    90044
115                950 82ND ST W    90044
116                950 82ND ST W    90044
117             8003 HOOVER ST S    90044
118                812 80TH ST W    90044
119                832 80TH ST W    90044
120                923 81ST ST W    90044
121                834 81ST ST W    90044
122                834 81ST ST W    90044
123                500 81ST ST W    90044
124                500 81ST ST W    90044
125                727 81ST ST W    90044
126                705 81ST ST W    90044
241                713 75TH ST W    90044
242                542 76TH ST W    90044
243                736 78TH ST W    90044
314                637 90TH ST E    90044
315                637 90TH ST E    90044
...                          ...      ...
5428206       100 UNIVERSAL CITY    91608
5428207       100 UNIVERSAL CITY    91608
5428208       100 UNIVERSAL CITY    91608
5428209       100 UNIVERSAL CITY    91608
5428210       100 UNIVERSAL CITY    91608
4748224       11600 W MONTANA AV    90073
4851098         3634 N TYBURN ST    91204
5014831      5200 ARBOR VITAE ST    90301
7847097      5200 CENTURY BLVD W    90301
8398398        5200 CENTURY BLVD    90301
8398399        5200 CENTURY BLVD    90301
8466482        5200 CENTURY BLVD    90301
8466483        5200 CENTURY BLVD    90301
8484104        5200 CENTURY BL W    90301
8525589        5200 CENTURY BLVD    90301
8525590        5200 CENTURY BLVD    90301
8570494        5200 CENTURY BLVD    90301
8570495        5200 CENTURY BLVD    90301
8581985        5200 CENTURY BLVD    90301
8658348        5200 CENTURY BLVD    90301
8658349        5200 CENTURY BLVD    90301
8658350        5200 CENTURY BLVD    90301
8658351        5200 CENTURY BLVD    90301
8658352        5200 CENTURY BLVD    90301
8658353        5200 CENTURY BLVD    90301
8676105        5200 CENTURY BLVD    90301
8676106        5200 CENTURY BLVD    90301
5900474       4311 WILSHIRE BLVD    90010
5970191  4325 WILSHIRE BOULEVARD    90010
8061783       4311 WILSHIRE BLVD    90010

[7570559 rows x 2 columns]

In [31]:
zip_df.Zip_Num.value_counts()

90028    373100
90015    277596
90025    261581
90036    252967
90291    250979
90004    222829
90014    194139
90024    193092
90026    185558
90027    172421
90012    162107
90019    151735
90048    144271
90064    141006
91601    138432
90046    137396
90033    136706
90017    134298
90013    134267
90029    129674
90034    123209
91604    120969
90035    110525
90057    107194
90045    106873
90049    104580
90038    100167
91423     99850
90005     99710
90042     92810
          ...
91330      1024
90404       760
91504       520
90502       518
91505       269
90212       237
90717        86
90405        79
90305        77
90304        64
90211        62
91608        51
91214        48
90265        33
90275        20
90301        20
91522        18
90095        16
91803        14
90056        14
90245        10
90302         6
91205         4
91801         4
91201         4
90810         3
90745         3
91030         1
91204         1
90073         1
Name: Zip_Num, Length: 143, dtype: int64

In [33]:
x=(1850000<zip_df['Longitude'])&(zip_df['Longitude']<1875000)& (6490000<zip_df['Latitude'])&(zip_df['Latitude']<6520000)
sdf=zip_df[x]
sdf.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,VIN,Make,Body Style,Color,...,OBJECTID_1,OBJECTID,FID_1,Name,SDE_STATE_,ORIG_FID,Distance,Zip_Num,Shape_area,Shape_len
152,4361187014,2019/09/17 12:00:00 AM,2103.0,YO26690,NaN,CA,NaN,TOYT,PA,WT,...,237,232,248,90042,655821.0,8538,0.0,90042,1.275652e+08,85662.514406
153,4361187003,2019/09/17 12:00:00 AM,2102.0,YO26690,NaN,CA,NaN,ACUR,PA,BK,...,237,232,248,90042,655821.0,8538,0.0,90042,1.275652e+08,85662.514406
154,4361186992,2019/09/17 12:00:00 AM,2100.0,YO26690,NaN,CA,NaN,TOYT,PA,BL,...,237,232,248,90042,655821.0,8538,0.0,90042,1.275652e+08,85662.514406
155,4361186981,2019/09/17 12:00:00 AM,2050.0,HPL784,NaN,CA,NaN,TOYT,PA,SL,...,237,232,248,90042,655821.0,8538,0.0,90042,1.275652e+08,85662.514406
156,4361186970,2019/09/17 12:00:00 AM,2049.0,HPL781,NaN,CA,NaN,HOND,PA,BK,...,237,232,248,90042,655821.0,8538,0.0,90042,1.275652e+08,85662.514406

In [34]:
sdf.Zip_Num.value_counts()

90042    92810
90041    37105
90065    22604
90031    19873
90032    18595
90012     1377
91803       14
91801        4
91030        1
Name: Zip_Num, dtype: int64

In [39]:
final_sdf=sdf[['Issue Date','Issue time','Zip_Num','Violation Description']]
final_sdf.head()

                 Issue Date  Issue time  Zip_Num Violation Description
152  2019/09/17 12:00:00 AM      2103.0    90042  OFF STR/OVERTIME/MTR
153  2019/09/17 12:00:00 AM      2102.0    90042  OFF STR/OVERTIME/MTR
154  2019/09/17 12:00:00 AM      2100.0    90042  OFF STR/OVERTIME/MTR
155  2019/09/17 12:00:00 AM      2050.0    90042  OFF STR/OVERTIME/MTR
156  2019/09/17 12:00:00 AM      2049.0    90042  OFF STR/OVERTIME/MTR

In [40]:
final_sdf['Issue Date'] = pd.to_datetime(final_sdf['Issue Date']) #change string to datetime
final_sdf['Time'] = pd.to_datetime(final_sdf['Issue time'], format= '%H%M', errors= "coerce").dt.time #change time in new column

#create an hour feature
final_sdf['Hour'] = final_sdf['Time'].apply(lambda x: x.hour) 
#fix converting bug
final_sdf['Hour'].fillna(0, inplace = True)

#create day of the week
weekdays=('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
final_sdf['Weekday'] = final_sdf['Issue Date'].apply(lambda x : weekdays[x.weekday()])
final_sdf.head()

,Issue Date,Issue time,Zip_Num,Violation Description,Time,Hour,Weekday
152,2019-09-17,2103.0,90042,OFF STR/OVERTIME/MTR,21:03:00,21.0,Tuesday
153,2019-09-17,2102.0,90042,OFF STR/OVERTIME/MTR,21:02:00,21.0,Tuesday
154,2019-09-17,2100.0,90042,OFF STR/OVERTIME/MTR,21:00:00,21.0,Tuesday
155,2019-09-17,2050.0,90042,OFF STR/OVERTIME/MTR,20:50:00,20.0,Tuesday
156,2019-09-17,2049.0,90042,OFF STR/OVERTIME/MTR,20:49:00,20.0,Tuesday

In [48]:
final_sdf['Violation Description'] = final_sdf['Violation Description'].astype('category')
final_sdf['Violation Description'] = final_sdf['Violation Description'].cat.codes

In [64]:
final_sdf['Weekday'] = final_sdf['Weekday'].astype('category')
final_sdf['Weekday'] = final_sdf['Weekday'].cat.codes

final_sdf.drop(columns=['Issue Date', 'Issue time'], inplace = True)

In [56]:
final_sdf.drop(columns=['Time'], inplace=True)

In [86]:
final_sdf.drop(columns=['Violation Description'], inplace=True)

In [87]:
final_sdf

         Zip_Num  Hour  Weekday
152        90042  21.0        5
153        90042  21.0        5
154        90042  21.0        5
155        90042  20.0        5
156        90042  20.0        5
177        90042  19.0        5
178        90042  19.0        5
179        90042  19.0        5
180        90042  19.0        5
181        90042  19.0        5
182        90042  19.0        5
183        90042  19.0        5
184        90042  19.0        5
185        90042  19.0        5
186        90042  19.0        5
187        90042  19.0        5
188        90042  19.0        5
189        90042  19.0        5
190        90042  19.0        5
191        90042  19.0        5
192        90042  19.0        5
193        90042  19.0        5
195        90042  18.0        5
196        90042  18.0        5
251        90042  12.0        5
252        90042  11.0        5
539        90042  21.0        5
540        90042  21.0        5
1327       90042  13.0        1
1559       90042  10.0        1
...          ...   ...      ...
8702155    90032  11.0        4
8702156    90032  11.0        4
8702157    90032  10.0        4
8702158    90032  10.0        4
8702159    90032  10.0        4
8702160    90032  10.0        4
8702161    90032  10.0        4
8702162    90032  10.0        4
8702163    90032  10.0        4
8702164    90032  10.0        4
8703121    90032   3.0        4
337037     91803  11.0        0
399238     91803   8.0        3
399240     91803   8.0        3
401225     91803  12.0        0
401226     91803  12.0        0
3271851    91803  12.0        4
3271852    91803  12.0        4
3642876    91803  13.0        4
3642877    91803  13.0        4
3647916    91803   3.0        6
3854201    91803  11.0        4
5372316    91803  11.0        6
5988577    91803  12.0        4
8486657    91803  11.0        0
3225391    91030   7.0        4
3473074    91801  10.0        6
3560193    91801  14.0        6
3560194    91801  14.0        6
5372315    91801  12.0        6

[192383 rows x 3 columns]

In [88]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(final_sdf[["Hour","Weekday"]], final_sdf['Zip_Num'], test_size = 0.2, random_state = 42)

In [89]:
print('Training Features Shape:', X_train.shape)
print('Training Labels Shape:', X_test.shape)
print('Testing Features Shape:', y_train.shape)
print('Testing Labels Shape:', y_test.shape)

Training Features Shape: (153906, 2)
Training Labels Shape: (38477, 2)
Testing Features Shape: (153906,)
Testing Labels Shape: (38477,)

In [90]:
# Import the model we are using
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, precision_score

In [91]:
# Instantiate model with 1000 decision trees
rf = RandomForestClassifier(n_estimators = 1000, random_state = 42,max_depth=15,min_samples_leaf=20 )
# Train the model on training data
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=15, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=20, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [92]:
prediction =rf.predict(X_test)
prediction

array([90041, 90042, 90042, ..., 90041, 90042, 90041], dtype=int64)

In [93]:
correct_prediction=prediction[y_test == prediction]
len(correct_prediction)

20912

In [94]:
len(prediction) - len(correct_prediction)

17565

In [95]:
len(correct_prediction)/len(prediction)

0.5434935156067261

In [80]:
from sklearn.metrics import make_scorer
from sklearn.metrics import log_loss
from sklearn.model_selection import GridSearchCV
model = RandomForestClassifier(n_estimators = 1000, random_state = 42)
depth_parm = [15, 20, 30, 40]
num_samples_parm = [20, 30 ]
inf = ['gini', 'entropy']
parameters = {'criterion' : inf,
    'max_depth' : depth_parm,
             'min_samples_leaf' : num_samples_parm}
#scorer = make_scorer(log_loss,
                    # greater_is_better=False,
                     #needs_proba=True)
clf = GridSearchCV(model,
                   parameters,
                   cv=5)

clf.fit(X_train, y_train)
print(clf.best_params_)

{'criterion': 'gini', 'max_depth': 15, 'min_samples_leaf': 20}

In [ ]:
# more feature , more accurate?